################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# VS files
.vs/
*/.vs/
*.user
*.suo

# Build artifacts 
**/bin/
**/obj/
*.user


